.container {
    display: grid;
    width: 1440px;
    height: 120px;
    grid-template-columns: 0.7fr 0.7fr 3.8fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 18px;
    background: transparent;
    gap: 2px;
}

/* .header {
    grid-row: 1/2;
    grid-column: 2/16;
    background: rgb(232, 199, 178);
    padding: 0px;
    align-content: center;
    align-items: center;
} */

.about {
    grid-row: 1/2;
    grid-column: 3/4;
    background: transparent;
    padding: 30px;
    margin-top: 15px;
}

.about:hover {
    text-decoration: underline;
}

.service {
    grid-row: 1/2;
    grid-column: 4/5;
    background: transparent;
    padding: 30px;
    margin-top: 15px;
}

.service:hover {
    text-decoration: underline;
}

.menu {
    grid-row: 1/2;
    grid-column: 5/6;
    background: transparent;
    padding: 30px;
    margin-top: 15px;
}


.contact {
    grid-row: 1/2;
    grid-column: 6/7;
    background: transparent;
    padding: 30px;
    align-items: center;
    margin-top: 15px;
}

.planet {
    grid-row: 1/2;
    grid-column: 8/9;
    background: transparent;
    padding: 20px;
    align-items: center;
    margin-top: 5px;
}

.search {
    grid-row: 1/2;
    grid-column: 12/13;
    background: transparent;
    padding: 5px;
    margin-top: 20px;
}

.basket {
    grid-row: 1/2;
    grid-column: 13/14;
    background: transparent;
    padding: 5px;
    margin-top: 20px;

}

.button {
    grid-row: 1/2;
    grid-column: 14/15;
    padding: 0px;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    background-color: #09A66D;
    border-color: #09A66D;
    text-align: center;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 18px;
    color: white;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}

.container1 {
    display: grid;
    width: 1440px;
    height: 850px;
    grid-template-columns: 1fr 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    background: #F3FBF8;

    gap: 10px;

}

.organic

/*main text*/
    {
    grid-row: 2/4;
    grid-column: 4/13;
    background: transparent;
    padding: 0px;
    font-family: Rosario, serif;
    font-weight: 700;
    font-size: 60px;
    font-style: bold;
    justify-content: end;

    justify-items: center;
}


.lorem {
    width: 637px;
    height: 90px;
    position: absolute;
    top: 32vh;
    left: 19vw;
    font-family: 'DM sans';
    font-size: 18px;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.order {
    width: 176px;
    height: 64px;
    position: absolute;
    top: 43vh;
    left: 32vw;
}

.leaves

/*image*/
    {
    position: absolute;
    width: 612px;
    height: 408px;
    top: 100px;
    left: -10px;

}

.fruits

/*main image*/
    {
    width: 862px;
    height: 465px;
    grid-row: 7/15;
    grid-column: 4/8;
    mix-blend-mode: darken;

}

.sidebar {
    grid-row: 8/15;
    grid-column: 9/15;
    align-content: space-between;

}

.reviews {
    margin: 20px;
}