.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas:
        "header header header header"
        "main main main sidebar";

}

.header {
    /*display: grid;*/
    grid-area: header;
    max-height: 10vh;
    max-width: 100vw;
    align-items: center;
    text-align: center;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 3em;
    background: transparent;

}

.about {
    grid-row: 1/2;
    grid-column: 2/4;
    background: transparent;
    padding: 30px;
    margin-top: 15px;
}

.about:hover {
    text-decoration: underline;
}

.service {
    grid-row: 1/2;
    grid-column: 4/6;
    background: transparent;
    padding: 30px;
    margin-top: 15px;
}

.service:hover {
    text-decoration: underline;
}

.menu {
    grid-row: 1/2;
    grid-column: 6/8;
    background: transparent;
    padding: 30px;
    margin-top: 15px;
}


.contact {
    grid-row: 1/2;
    grid-column: 8/10;
    background: transparent;
    padding: 30px;
    align-items: center;
    margin-top: 15px;
}

.planetContainer {
    grid-row: 1/2;
    grid-column: 13/15;
    width: 40%;
}

.planet {
    width: 100%;
}

.search {
    grid-row: 1/2;
    grid-column: 21/22;
    background: transparent;
    width: 70%;
}

.basket {
    grid-row: 1/2;
    grid-column: 22/23;
    background: transparent;
    width: 70%;

}

.button {
    grid-row: 1/2;
    grid-column: 24/26;
    width: 90%;
    height: 60%;
    border-radius: 16px;
    background-color: #09A66D;
    border-color: #09A66D;
    text-align: center;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 1em;
    color: white;
    align-content: center;
    align-items: center;

}

.main {
    /*display: grid;*/
    grid-area: main;

    align-items: center;
    text-align: center;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 3em;
    background: transparent;
    background: #F3FBF8;

}

/*.main {
    grid-row: 1/28;
    grid-column: 1/19;
}*/

.organic

/*main text*/
    {
    grid-row: 2/4;
    grid-column: 7/20;
    background: transparent;
    padding: 0px;
    font-family: Rosario, serif;
    font-weight: 700;
    font-size: 5em;
    font-style: bold;
    justify-content: center;
    justify-items: center;
}


.lorem {
    grid-row: 4/6;
    grid-column: 10/19;
    background: transparent;
    padding: 0px;
    font-family: 'DM sans';
    font-weight: normal;
    font-size: 3rem;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.order {
    grid-row: 7/9;
    grid-column: 14/20;
    background: transparent;
    padding: 0px;
    width: 35%;
}

.leaves

/*image*/
    {
    grid-row: 1/11;
    grid-column: 1/12;
    width: 50%;
    height: 35%;
}

.fruits

/*main image*/
    {
    width: 60%;
    height: 50%;
    grid-row: 6/27;
    grid-column: 4/18;
    mix-blend-mode: darken;

    align-items: stretch;
}

.sidebar {
    /*display: grid;*/
    grid-area: sidebar;
    max-height: 90vh;
    max-width: 30vw;
    align-items: center;
    text-align: center;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 3em;
    background: transparent;
    background: #F3FBF8;
}



.userorderContainer {
    grid-row: 9/10;
    grid-column: 20/23;
    width: 10%;
}

.userorder {

    width: 100%;
}

.reviewsContainer {
    grid-row: 11/12;
    grid-column: 20/23;
    width: 100%;
}

.reviews {

    width: 10%;

}

.itemcContainer {
    grid-row: 13/14;
    grid-column: 20/23;
    width: 100%;
}

.items {

    width: 10%;

}